@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3rem;
    background-image: url('./asset/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.game-info {
    color: #283618;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid #606c38;
    padding: 0.5rem 3rem;
    position: absolute;
    top: 3rem;
    user-select: none;
}

.main-container {
    width: 90%;
    max-width: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2rem;
    position: relative;
}


.cheat-boxes {
    width: 5.3rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) translateX(-50%);
}

.cheat-box {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #283618;
    opacity: 0;
}

.cheat-box-1, .cheat-box-2 {
    border-right: 3px solid #283618;
    border-bottom: 3px solid #283618;
}

.cheat-box-3 {
    border-right: 3px solid #283618;
}

.cheat-box.active {
    opacity: 100;
}

.main-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
}

.box {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #283618;
    cursor: pointer;
}

.box-1, .box-2, .box-4, .box-5 {
    border-right: 3px solid #283618;
    border-bottom: 3px solid #283618;
}

.box-3, .box-6 {
    border-bottom: 3px solid #283618;
}

.box-7, .box-8 {
    border-right: 3px solid #283618;
}

.btn {
    color: #283618;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid #606c38;
    padding: 0.5rem 3rem;
    cursor: pointer;
    position: absolute;
    bottom: 3rem;
    display: none;
}

.btn.active {
    display: flex;
}

.win {
    background-color: #36b936;
}